<div class="container">

    <h1>{{title}}</h1>

    <div class="row">
        {{#each tutorials}}
        <div class="col-4">
            <a href="/tutorial/{{this.fields.slug}}">{{this.fields.title}}</a>
            <p>{{this.fields.description}}</p>
            <p>
                {{#each this.fields.category}}
                <span class="badge badge-secondary">{{this}}</span>
                {{/each}}
            </p>
        </div>
        {{/each}}
    </div>
</div>
